@model URLCompactifier.Models.LinkBO

@{
    ViewData["Title"] = "Home Page";
    string link = $"{Model.PrimarySiteLink}r/{Model.Link_Token}";
    string LinkStatus = Model.LinkExists ? "There is currently a shortened link for this URL:" : "Here is your shortened link:";
}

<div style="display: flex; justify-content: center; align-items: center; text-align: center; min-height: 75vh;">
    <div class="text-center">
        <h1 class="display-4">Use the textbox below to compactify your URL!</h1>
        @using (Html.BeginForm("InputURL", "Link", FormMethod.Post))
        {
            <br />
            <input type="text" name="urlFullLink" id="urlFullLink" class="w-75">
            <br />
            <br />
            <input class="btn btn-outline-success" type="submit" value="Compactify">
            @Html.ActionLink("Back", "Index", "Home", null, new { @class="btn btn-outline-danger" })
        }

        <br />
        <br />

        @if (!string.IsNullOrEmpty(Model.Link_ExpiryDateT))
        {
            <span class="display-6">@LinkStatus</span>
            <h4 class="display-4">@Html.ActionLink($"{@link}", "RedirectFromPage", "Link", new { link = Model.Link_Name })</h4>
            <span class="display-6">This will expire on @Html.DisplayFor(e => e.Link_ExpiryDateT)</span>
        }

        <p>As there is no hosting. Shortened links would be sent via localhost/r/token i.e localhost/r/282hfhfyt</p>

        

    </div>
</div>