@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; justify-content: center; align-items: center; text-align: center; min-height: 75vh;">
    <div class="text-center">
    <br />
    <h1 class="display-4">Welcome to the URL Compactify</h1>
    <br />
    <p>Compactify your link @Html.ActionLink("here", "Index", "Link", null) or alternatively, navigate to the compactify via the navigation bar at the top of the page</p>
    </div>
</div>