@{
    ViewData["Title"] = "Privacy Page";
}

<div class="text-center">
    <h1 class="display-4">URLCompactify's Privacy Policy</h1>
    <p>It's meant to be 2001, so we aren't obliged to make a privacy policy (For another 15 years anyway)</p>
</div>